@import "tailwindcss";

:root {
  --color-navy: #073674;
  --color-gold: #FEC52F;
  --color-silver: #D1D2D4;
  --color-white: #FFFFFF;
  --color-background: #F8FAFC;
  --color-text: #0F172A;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}